
@font-face {font-family: "iconfont";
  src: url('/icons/editor/iconfont.eot?t=1462975580'); /* IE9*/
  src: url('/icons/editor/iconfont.eot?t=1462975580#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/icons/editor/iconfont.woff?t=1462975580') format('woff'), /* chrome, firefox */
  url('/icons/editor/iconfont.ttf?t=1462975580') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/icons/editor/iconfont.svg?t=1462975580#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-jietu:before { content: "\e600"; }
.icon-pen:before { content: "\e601"; }
.icon-text:before { content: "\e602"; }
.icon-eraser:before { content: "\e603"; }
.icon-arrow-ratate-right:before { content: "\e605"; }
.icon-arrow-rotate-left:before { content: "\e606"; }
.icon-huitui:before { content: "\e604"; }
