
//
    Create by william
extends ./layout

block page-head
    script(type="text/javascript").
        var username = '#{username}';
        var title = '#{workTitle}';
        var author = '#{author}';

block content
    .ui.middle.align.aligned.grid#artwork-wrapper

block page-script
    script(src="/dist/icon.bundle.js")
    script(src="/dist/artwork.bundle.js")
