//
    Created by william
extends ./layout

block page-head
    script(type="text/javascript").
        var username = '#{username}';
        var workCount = #{workCount};

block content
    #artwork-list

block page-script
    script(src="/dist/icon.bundle.js")
    script(src="/dist/artworks.bundle.js")
