//
   Created by zhoujihao on 16-4-9.

extends ./layout
block content
   .ui.middle.aligned.center.aligned.grid#editor-wrapper
block page-script
   script(src="/dist/icon.bundle.js")
   script(src="/dist/editor.bundle.js")
