extends ./layout

block page-header
    script(type="text/javascript")
        var username = '#{username}';

block content
    #index-wrapper.ui.middle.align.center.aligned.grid
block page-script
    script(src="/dist/icon.bundle.js")
    script(src="/dist/index.bundle.js")

