//
   Created by zhoujihao on 16-3-21.
extends ./layout
block page-head
    script(type="text/javascript").
        var username = "#{username}";
        var email = "#{email}";
        var descript = "#{descript}";
block content
    #wrapper
block page-script
    script(src="/dist/personal_center.bundle.js")
