//
   Created by zhoujihao on 16-3-21.
extends ./layout

block page-head
   script(type="text/javascript").
      var username = "#{username}";

block content
    #create-artwork-wrapper
block page-script
   script(src="/dist/create_artwork.bundle.js")
