extends ./layout
block page-head
    script(type='text/javascript').
        var res_text = "#{res_text}";
block content
    .ui.middle.aligned.center.aligned.grid#wrapper
block page-script
    script(src="/dist/signin.bundle.js")
