#editor-wrapper {
    margin-left: 10px;
    margin-right: 10px;
}


#artwork-wrapper {
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: auto;
}

#artwork-status {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

#artwork-detail {
    margin: 0 auto;
}

#artwork-detail header{
    color: #2185d0;
}

#artwork-info {
    display: inline-block;
}

#artwork-process {
    display: inline-block;
    float: right;
}

#artwork-main {
    min-height: 600px;
    min-width: 900px;
    border: solid 1px rgba(34, 36, 38, .15);
    display: flex;
    justify-content: center;
    align-items: center;
}

#artwork-image-wrapper {
    text-align: center;
}

#artwork-image-wrapper img{
   width: 100%;
}
