#artwork-list {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 70%;
    margin-left: 15%;
    padding: 3%;
    height: 90%;
}

#pagination-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.page-item {
    justify-content: center;
}

.artwork-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.artwork-item .meta {
    overflow: hidden;
}

.artwork-item header {
    overflow: hidden;
}

.artwork-item .author {
    float: right;
}

.artwork-item .star {
    margin-bottom: 5px;
}

.artwork-page {
    margin-top: 20px;
    margin-bottom: 20px;
}

#artwork-list-page header {
    width: 100%;
    margin-bottom: 20px;
}
