#artwork-list {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 70%;
    margin-left: 15%;
    padding: 3%;
    height: 90%;
}

#pagination-wrapper {
    width: 100%;
    text-align: center;
}

.page-item {
    justify-content: center;
}
