body {
    height: 100%;
    width: 100%;
    position: relative;
}
#header .menu {
    height: 50px;
    background: #eeeeee;
}

#footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
#footer div.segment {
    background: #eeeeee;
}
#footer a {
    margin: 0 20px;
}
#footer a span {
    text-decoration: underline;
}
#footer div.segment {
    border-top: solid 1px #dddddd;
}