//- script(type="text/javascript" src="libs/react.js")
//- script(type="text/javascript" src="libs/react-dom.js")
script(type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js")
script(type="text/javascript" src="libs/semantic/semantic.min.js")